<div class="page-component" id="landing-component">
  <div id="landing-text" class="vertical-center">
    <%= image_tag("https://res.cloudinary.com/djxbpnlad/image/upload/v1653468155/spb076/logo_vtcnwq.png", id:"logo-big", class:"center")%>
    <h1 style="text-align: center; font-weight: 700">Scooter Parts Breda</h1>
    <h3 style="text-align: center">Dé scooterspecialist in Breda en omstreken</h2>
  </div>
</div>
<div class="page-component" id="about">
  <div class="container">
    <h1 class="header-text">dit zijn wij</h1>
    <div id="about-1-wrapper-1">
      <%= image_tag("https://res.cloudinary.com/djxbpnlad/image/upload/v1653468156/spb076/example-portrait_synv1y.jpg", id:"portrait") %>
      <p class="about-text-1"><strong>Rafael</strong> dolor sit amet, consectetur adipiscing elit. Fusce ut porttitor nisi. Vivamus mollis id leo iaculis iaculis. In vitae finibus magna. In finibus dolor quis quam bibendum iaculis. Mauris sodales pharetra odio, in mattis ipsum ultrices vitae. Praesent id nibh molestie sem elementum gravida nec eu dui.</p>
    </div>
      <div id="about-1-wrapper-2">
        <p class="about-text-2"><strong>Koray</strong> ipsum dolor sit amet, consectetur adipiscing elit. Fusce ut porttitor nisi. Vivamus mollis id leo iaculis iaculis. In vitae finibus magna. In finibus dolor quis quam bibendum iaculis. Mauris sodales pharetra odio, in mattis ipsum ultrices vitae. Praesent id nibh molestie sem elementum gravida nec eu dui.</p>
        <%= image_tag("https://res.cloudinary.com/djxbpnlad/image/upload/v1653468156/spb076/example-portrait_synv1y.jpg", id:"portrait") %>
    </div>
  </div>
</div>
<div id="about-2">
  <div class="container">
    <h1 class="header-text">dit doen wij</h1>
    <div id="about-2-wrapper">
      <div>
        <%= image_tag("https://res.cloudinary.com/djxbpnlad/image/upload/v1653468155/spb076/example-garage_o7wbgt.jpg", class:"garage-img") %>
        <h3 class="mt-4">Title</h3>
        <p class="about-text-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eros justo, sollicitudin at volutpat tempor, semper in tellus. Integer pretium sed eros a efficitur. Aliquam et elit vitae quam gravida cursus ac quis erat. In hac habitasse platea dictumst. </p>
      </div>
      <div>
        <%= image_tag("https://res.cloudinary.com/djxbpnlad/image/upload/v1653468155/spb076/example-garage_o7wbgt.jpg", class:"garage-img") %>
        <h3 class="mt-4">Title</h3>
        <p class="about-text-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eros justo, sollicitudin at volutpat tempor, semper in tellus. Integer pretium sed eros a efficitur. Aliquam et elit vitae quam gravida cursus ac quis erat. In hac habitasse platea dictumst. </p>
      </div>
      <div>
        <%= image_tag("https://res.cloudinary.com/djxbpnlad/image/upload/v1653468155/spb076/example-garage_o7wbgt.jpg", class:"garage-img") %>
        <h3 class="mt-4">Title</h3>
        <p class="about-text-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eros justo, sollicitudin at volutpat tempor, semper in tellus. Integer pretium sed eros a efficitur. Aliquam et elit vitae quam gravida cursus ac quis erat. In hac habitasse platea dictumst. </p>
      </div>
    </div>
  </div>
</div>
<div class="page-component" id="parts">
  <div class="container">
    <h1 class="header-text">onderdelen</h1>
  </div>
</div>
<div class="page-component" id="contact">
  <div class="container">
    <h1 class="header-text">contact</h1>
  </div>
</div>
