<!DOCTYPE html>
<html>
  <head>
    <title>SPB076</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Roboto+Flex:opsz,wght@8..144,200;8..144,500&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <div class="container">
    <div id="header">
      <%= image_tag("logo.png", width: '10%', height: '10%') %>
    </div>
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>
    <%= yield %>
  </div>
  </body>
</html>
