<!DOCTYPE html>
<html>
  <head>
    <title>SPB076</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Roboto+Flex:opsz,wght@8..144,200;8..144,500&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <div id="header-wrapper" class="sticky">
    <div class="container">
      <div id="header">
        <%= image_tag("https://res.cloudinary.com/djxbpnlad/image/upload/v1653468155/spb076/logo_vtcnwq.png", width: '10%', height: '10%') %>
        <div id="navigation">
          <a href="#home" class="nav-item">home</a>
          <a href="#about" class="nav-item">over ons</a>
          <a href="#parts" class="nav-item">onderdelen</a>
          <a href="#contact" id="button-contact">CONTACT</a>
        </div>
      </div>
    </div>
  </div>
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>
    <%= yield %>
  </body>
</html>
